body{
    background-color: #9be485;
}
h1{
    color: cornflowerblue;
}
.clicked{
    color:tomato;
    transition: color .5s ease-in-out;
}
.sexy-font{
    font-family: 'Courier New', Courier, monospace;
}